<configuration>

    <property name="logDir" value="src/main/resources/logs" />

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${logDir}/bankcards.log</file>
        <encoder>
            <pattern>%date [%level] [%thread] %logger{10} [%file:%line] - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="ru.trofimov.bankcards" level="DEBUG">
        <appender-ref ref="FILE" />
    </logger>

    <root level="INFO">
        <appender-ref ref="FILE" />
    </root>

</configuration>
